/*CSS DOCUMENT*/
body{
background:rgb(255, 255, 235);
font-family:sans-serif;
color:rgb(75, 6, 5);
}

div.introimage{
    margin:auto;
    width:60%;
}

img {
width: 100%;
margin: 0 0 1em 0;
}

h1{
    margin:auto;
    text-align:center;
    font-family:serif
}

h2{
    margin:0 0 1em 0;
    text-align:center;
    font-family:serif;
    font-style:italic;
}

h3{
    font-family:serif;
    text-align:center;
}

.intro p{
    text-align:center;
    max-width:50em;
    margin:auto;
}

div.ingredients{
    margin:auto;
    float:left;
    width:48%
}

div.directions{
    float:left;
    width:48%
}

li{
    margin:0 0 1em 0;
}

.maincontent{
    margin:auto;
    width:100%
}

footer{
    float:none;
    clear:both
}